.ipynb_checkpoints/PDF_crawling-checkpoint.ipynb
.ipynb_checkpoints/ReturnData-checkpoint.ipynb
.ipynb_checkpoints/ReturnModel-checkpoint.ipynb

2022_mental_health.pdf

PDF_crawling.ipynb
ReturnData.ipynb

